<%= form_tag(search_jobs_path, method: "get") do %>
  <%= text_field_tag(:tags, @tags, class: "search_field") %>
  <%= submit_tag("Rechercher", class: "button") %>
  <p class="field_tip">"Rails", "Paris", "CDI" ...</p>
<% end %>

<% if @jobs.any? %>
  <ul id="jobs_list">
  <% @jobs.each do |job| %>
      <li class="job_summary">
        <a href="<%= job_path(job) %>">
          <span class="job_title"><%= job.title %></span><%= " — #{job.contract_type}, #{job.company_name}, #{job.location}" %>
        </a>
          <span class="job_created_at">il y a <%= distance_of_time_in_words_to_now(job.created_at) %></span>
      </li>
  <% end %>
  </ul>
<% else %>
  <div class="info">
    <p><%= @no_offer_msg %></p>
  </div>
<% end %>