<div class="job_card">
  
  <h1 class="job_title"><%= @job.title %></h1>
  
  <div class="job_general_infos">
    <div class="infos_block">
      <p class="company_name"><%= @job.company_name %></p>
      <% if @job.company_url %>
      <p><%= link_to @job.company_url %></p>
      <% end %>        
    </div>
    
    <div class="infos_block">
      <p>Type de contrat : <%= @job.contract_type %></p>
      <p>Lieu : <%= @job.location %></p>  
    </div>
    <p class="job_created_at">Offre postée le : <%= @job.created_at.strftime("%d/%m/%y") %></p>
    
  </div>
  
  <div class="job_apply">
    Pour candidater : <%= mail_to @job.company_email %>
  </div>
  
  <div class="job_description">
    <%= raw BlueCloth.new(@job.description).to_html %>    
  </div>
  
</div>