<h2>Prévisualisation de votre offre</h2>

<div class="job_card">
  <h1><%= @job.title %></h1>
  <p><%= @job.contract_type %></p>
  <p><%= @job.company_name %></p>
  <p><%= @job.location %></p>
  <% if @job.company_url %>
  <p><%= @job.company_url %></p>
  <% end %>
  <hr/>
  <p><%= @job.description %></p>
  <div class="apply">
    Pour candidater : <%= @job.company_email %>
  </div>
</div>
<%= form_tag action: "publish" do %>
<%= submit_tag "C'est bon, publier l'offre !" %>
<% end %>
<br/>
<%= link_to "...non, je veux la modifier", edit_job_path(@job) %>

