<!DOCTYPE html>
<html>
<head>
  <title>Rubytaf</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=VT323|Permanent+Marker' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="container">
    
    <h1 class="title">Ruby Jobboard</h1>
    
    <div id="menu">
      <%= link_to "Liste des offres", jobs_path %>  
      <%= link_to "Poster une offre", new_job_path %>      
    </div>
    
    <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    
    <%= yield %>
    <div id="footer">
    </div>
  </div>
</body>
</html>
